html, body {
  height: 100%;
  margin: 0;  /* Remove default margin */
  padding: 0;  /* Remove default padding */
  display: flex;
  flex-direction: column; /* This ensures the app stretches to fill the page */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  padding: 10px;
  flex: 1; /* This ensures that your main app content fills the available space */
  flex-direction: column;
  background-color: rgb(236, 233, 233); 
}

.add-btn {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #131ee2;
  color: rgb(219, 216, 216);
  border:1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #38a3d0;
}

.person-list {
  display: flex;
  flex-wrap: wrap;
}

form input {
  width: 100%;
  padding: 0;
  margin: 10px 0;
}

form button {
  padding: 10px;
  margin: 5px;
}

p {
  margin: 5px 0;
}

strong {
  font-weight: 600;  /* Reduce boldness of labels, can be adjusted to 500 or 400 */
}
